.o-que-fazemos-container {
    height: 100vh;
    
    background-color: #f6f6f6;
}
@media (max-width:535px){

    .o-que-fazemos-container {
        height: 80vh;
        width: 100%;
        
    }
}

@media (min-width:536px) and (max-width:615px){
    .o-que-fazemos-container {
        height: 80vh;
        width: 83.5%;
        

    }
}

@media (min-width:616px) and (max-width:870px){

    .o-que-fazemos-container {
        height: 100vh;
        width: 83.8%;
        

    }


}



.title_quem_somos{
    font-size: 3.6em;
    color: #585858;
    margin: 0px 32px;
    padding-top: 8vh;
}

@media (max-width: 535px){

    .title_quem_somos{
    
        width:60%;
        margin: 0px auto;
        font-size: 1.7em;
        align-items: center;
        padding-top: 2vh;
        font-weight: 500;


    }
}




@media (min-width:616px) and (max-width:870px){

    .title_quem_somos{
        padding-top: 1vh;
        margin-left: 2%;
        font-size: 1.7em;

    }

}

.content{
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
    justify-content: space-evenly;


}

@media (max-width:535px){

    .content{
        margin-top: 2%;
        flex-direction: column;
        padding: 0px;
    }

    
}

@media (max-width:615px){

    .content{
        margin-top: 2%;
        flex-direction: column;
        padding: 0px;
    }
}

@media (min-width:616px) and (max-width:870px){
    .content{
        margin-top: 2%;
        flex-direction: column;
        padding: 0px;
    }

}

.texto_quem_somos{
    font-size: 28px;
    margin-left: 3%;
    color: #585858;
    height: auto;
    width: 550px;

}
@media (max-width:535px){


    .texto_quem_somos{
        width: 70%;
        font-size: 15px;
        margin-top: 10px;
        font-weight: normal;
        text-align: center;
        margin: 10% auto;



    }
}


@media (min-width:536px) and (max-width:615px){

    .texto_quem_somos{
        width: 70%;
        margin: 10% auto;
        font-size: 15px;
        font-weight: normal;
        text-align: center;

    
    }
}

@media (min-width:616px) and (max-width:870px){


    .texto_quem_somos{
        width: 90%;
        font-size: 15px;


    }
}

.icone_quemSomos {
    padding-right: 20%;
    width:300px;
    height:300px;

    
}
@media (max-width:535px){
    .icone_quemSomos {
    
    padding-right: 0%;
    width:110px;
    height:110px;
    margin: 0px auto;
    }
}



@media (max-width:615px){
    .icone_quemSomos {
    
    padding-right: 0%;
    width:110px;
    height:110px;
    margin: 0px auto;
    }
}

@media (min-width:616px) and (max-width:870px){

    .icone_quemSomos {
    
        padding-right: 0%;
        width:200px;
        height:200px;
        margin: 0px 0px;
        }
}

.imagem_quem_somos{
    margin-left: 10%;
    height: 250px;

}
@media (max-width:535px){
    .imagem_quem_somos{
        height: 200px;
        margin: 0px auto;

    }
}


@media (min-width:534px) and (max-width:615px){
    .imagem_quem_somos{
        width:60%;
        height: 200px;
        margin: 0px auto;


    }
}

@media (min-width:616px) and (max-width:870px){
    .imagem_quem_somos{
        width:220px;
        margin: 0px auto;
        height: 230px;
    }

}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;

}



.button > button{
    height: 60px;
    width: 220px;
    border-radius: 9px;
    background-color: #465efe;
    color: white;
    font-size: 1.5em;
    box-shadow: 1px 1px 5px grey;
    border-style: none;
    cursor: pointer;

}



@media (max-width:650px){
    .button > button{
        height: 40px;
        width: 140px;
        font-size: 1.0em;
        margin-top:-70%;

        

    }
}




