.section_form{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #4b61ee, #0aa3e0);
    border: 0.1px solid  #4b61ee0a;
}

.title_form{
    width:500px;
    font-size: 2.7em;
    color: rgb(233, 233, 233);
    margin-left: 10%;
}

.container_form{
    width: 50%;
    height: 70vh;
    margin-left: 10%;

}

.container_formulario{
    display: flex;

}

.box_img_botao{
    display: flex;
    flex-direction: column;
    margin-left: 7%;


}


.img_contato{
    width: 260px;
    height: 260px;
    margin: auto;
}

