.section_diferencial{
    background-color: whitesmoke;
    width: 100%;
    height: 105vh;

}
.title_diferencial{
    width:400px;
    font-size: 2.7em;
    color: rgb(66, 66, 66);
    margin-left: 10%;
}


.container_box{
    display: flex;
    flex-direction: column;
    
    
    /*margin-top: 20vh;
    margin-left: 15vw;*/
    height: 100vh;
    
}

.button{
    width:250px;
    margin: 0% auto;
}

.button > button{
    height: 60px;
    width: 250px;
    border-radius: 9px;
    background-color: #465efe;
    color: white;
    font-size: 1.5em;
    box-shadow: 1px 1px 5px grey;
    border-style: none;
    cursor: pointer;
}

.container-diferencial{

    width: 95%;
    height: 70vh;
    border-radius: 10px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.texto_diferencial1, .texto_diferencial2, .texto_diferencial3{
    font-weight: 500;
    font-size: 22px;
    color: rgb(247, 240, 240);
    text-align: center;
    margin-top: 5%;


    
}


.img_diferencial1, .img_diferencial2, .img_diferencial3{

    width: 150px;
    height: 150px;
    margin-top: 15%;

}
.img_diferencial1, .img_diferencial3{
    margin-top: 7%;
}

.box_diferencial1, .box_diferencial2, .box_diferencial3{
    margin: 2% 1%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 240px;
    height:270px;
    background-color: rgb(95, 147, 224);       
    border-radius: 20px;
}

@media(max-width:720px){
    .img_diferencial1, .img_diferencial2, .img_diferencial3{

        width: 80px;
        height: 80px;
    
    }
    .title_diferencial{
        width:250px;
        font-size: 1.8em;
        margin: 5% auto;
    }
    
    .texto_diferencial1, .texto_diferencial2, .texto_diferencial3{
        font-weight: 500;
        font-size: 16px;    
    }

    .box_diferencial1, .box_diferencial2, .box_diferencial3{
        padding: 20px;
        width: 150px;
        height:190px;
        margin:2% auto;
        
    }
    .section_diferencial{
        
        height: 130vh;
    
    }

    .container_box{
        height: 125vh;
        
    }
    .container-diferencial{

        width: 95%;
        height: 100vh;
        border-radius: 10px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }


    .button{
        width:150px;
        margin: 4% auto;
    }
    
    .button > button{
        height: 40px;
        width: 150px;
        border-radius: 9px;
        background-color: #465efe;
        color: white;
        font-size: 1em;
        box-shadow: 1px 1px 5px grey;
        border-style: none;
        cursor: pointer;
    }   
}



@media(min-width:1281px) {
    .img_diferencial1, .img_diferencial2, .img_diferencial3{

        width: 180px;
        height: 180px;
    
    }
    .title_diferencial{
        width:260px;
        font-size: 1.9em;
        margin:auto;
        margin-top: 30px;
    }
    
    .texto_diferencial1, .texto_diferencial2, .texto_diferencial3{
        font-weight: 500;
        font-size: 25px;    
    }

    .box_diferencial1, .box_diferencial2, .box_diferencial3{
        padding: 20px;
        width: 240px;
        height:350px;
        margin:2% auto;
        
    }
    .section_diferencial{
        
        height: 100vh;
    
    }

    .container_box{
        height: 100vh;
        
    }
    .container-diferencial{

        width: 95%;
        height: 100vh;
        border-radius: 10px;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        
    }
    .button{
            margin-bottom: 300px;
    }
}



/*
@media  (max-width:900px){
    .section_diferencial{
        height: 180vh;
    }

    .title_diferencial{
        font-size: 2.0em;
        font-weight: 500;
        margin: 5% auto;
        width:270px;
    }
}

@media(min-width:901px) and (max-width: 1220px){
    .section_diferencial{
        height: 110vh;
    }
}

*/

/*
@media  (max-width:900px){
    .container-diferencial{
        height:230vh;
        flex-direction: column;
        justify-content: center;
    }
}
*/

/*
@media (max-width:900px){
    .img_diferencial2{
        width:100px;
        height:100px;
    }
    .img_diferencial1{
        width:100px;
        height:100px;
    }
    .img_diferencial3{
        height:100px;
        width:100px;
    }
}
@media(min-width:901px) and (max-width: 1220px){
    .img_diferencial1, .img_diferencial2, .img_diferencial3{
    width: 180px;
    height: 180px;
    }
}
*/

/*
@media  (max-width:900px){
    .box_diferencial1, .box_diferencial3{
        margin-left: auto;
        margin-right: auto;
        width:38%;
        height: 190px;
        
    }

    .box_diferencial2{
        margin-left: auto;
        margin-right: auto;
        width:38%;
        height: 190px;
    }
    .texto_diferencial1, .texto_diferencial2, .texto_diferencial3{
        font-size:18px;
    }
    
}

@media(min-width:901px) and (max-width: 1220px){
    .box_diferencial1, .box_diferencial2, .box_diferencial3{
        width:25%;
        margin-left: auto;
        margin-right: auto;
    }
}

.box_diferencial2{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}



/*.button{

    margin: 30px auto;
    width: 250px;
}

@media (max-width:575px){
    .button{
        margin: 35% auto;
    }
}*/