.section_header{
    height: 100vh;
    border: 0.1px solid rgba(8, 164, 254, 0.062);
    background: url('../../assets/imgs/hero.jpg') center center/cover
    no-repeat fixed padding-box #08A2FE;}



.menu_header{
    height: 10vh;

}


@media (max-width:650px){

    .legenda_header{
        width: 300px;
        

    }

    .hero_header{
        margin: 0px 0px;
        
    }
}

.titulo_header{

    color: white;
    font-size: 100px;
    width: 300px;
}
@media (max-width:650px){

    .titulo_header{
        margin: 20% auto;
    }
}
.legenda_header{

    color: white;
    font-weight: normal;
    width: 400px;
    margin-top: -50px;
}

.teste_header{

    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.hero_header{

    margin: 0px 130px;
}
@media (max-width:650px){
    .hero_header{
        margin: 0px auto;
        

    }
}
.scroll_down{
    width: 70px;
    margin: auto;
    color: white;
    font-size: 14px;
}

.icone_hero{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.link_hero{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}



.menu_list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
  }


  
  .menu_list_link {
    display: flex;
    text-decoration: none;
    color: rgb(245, 237, 237);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    padding: 0px 30px;
  }
  .menu_list_link:hover {
    border-bottom: 2px solid #03b6fd;
    color:white;
  }
  
