.section_header{
    height: 100vh;
    border: 0.1px solid rgba(8, 164, 254, 0.062);
    background: linear-gradient(to right, #4b61ee, #0aa3e0);
}
@media (max-width:535px){
    .section_header{
        height: 100vh;
        
    }
}


.menu_header{
    height: 10vh;

}


@media (max-width:650px){

    .legenda_header{
        width: 300px;
        

    }

    .hero_header{
        margin: 0px 0px;
        
    }
}

.titulo_header{

    color: white;
    font-size: 100px;
    width: 300px;
}
@media (max-width:650px){

    .titulo_header{
        margin: 20% auto;
        font-size: 60px;
        margin-top: -10%;

    }
}
.legenda_header{

    color: white;
    font-weight: normal;
    width: 400px;
    margin-top: -50px;
}
@media (max-width:650px){

    .legenda_header{
        font-size: 15px;
        margin-left:13%;
    }
}

.teste_header{

    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: 600px;
}
.hero_header{

    margin: 0px 130px;
}
@media (max-width:650px){
    .hero_header{
        margin: 0px auto;
        

    }
}
.scroll_down{
    width: 70px;
    margin: auto;
    color: white;
    font-size: 14px;
}

.icone_hero{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.link_hero{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:auto;
    margin-left:auto;
    margin-top: -1%;
    padding-top: 100px;
}

@media (max-width:650px){
    .icone_hero{
        width:30px;
        height:30px;
    }

    .scroll_down{

        font-size: 8px;
        letter-spacing: 1px;
        width:50px;
        }
    
    .link_hero{
        margin-top:4%;
    }
}





.menu_list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
  }


  
  .menu_list_link {
    display: flex;
    text-decoration: none;
    color: rgb(245, 237, 237);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    padding: 0px 30px;
  }
  .menu_list_link:hover {
    border-bottom: 2px solid #03b6fd;
    color:white;
  }

  @media (max-width:650px){
    .menu_list_link{
        font-size: 10px;
        padding: 0px 10px;

    }
}


  
