.footer {
    height: 30vh;
    width: 100%;
    background-color: whitesmoke;
}

.container-footer{
    
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.container-logo{
    display: flex;
    flex-direction: column;

}

.icons{
    display: flex;
    flex-direction: row;
    
}

.final-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
