.footer {
    height: 30vh;
    width: 100%;
    background-color: whitesmoke;
}

.container-footer{
    
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.container-logo{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;

}

.icons{
    display: flex;
    flex-direction: row;
    margin-left: 12vw;
    font-size: 1.3em;
    color: #000000;
    
}

.icons > a {
    color: inherit;
}

.icon-1{
    background-color: #3CC0F0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    
}

.icon-2{
    background-color: #3CC0F0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    margin-right: 5px;

    
}

.icon-3{
    background-color: #3CC0F0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    
}

.phone > p {
    margin: 0;
    margin-left: 5%;
    margin-bottom: 5%;
}

.address > p {
    margin: 0;
    margin-left: 5%;
    margin-bottom: 5%;
}

.final-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-number{
    margin-right: 5vw;
    margin-top: 3vh;
}

.phone{
    display: flex;
    flex-direction: row;
    
}

.address{
    display: flex;
    flex-direction: row;
}