body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overflowx{
  height: auto;
  width: auto;
  overflow-x: hidden;
}

.all-container{
  width: 100%;
  overflow-x: hidden;
}
/*
.overflowx {
  overflow-x: hidden;
}
/* teste */